/.idea
/build
/cw10
/cw10_mateusz_bednarczyk.py
/cw11.py
/cw11MB.py
/cw6
/dist
/gowienka
/keyfile.txt
/keylogger.spec
/knbi1.py
/knbi2.py
/lab10
/lab5
/lab7
/lab7-1
/lab7zad2.py
/Projekty
/script1.py
/Stuff
/Untitled-1.py
/Untitled-7.py
/Work